.OutageReport {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;


}

.report-table-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    height: 300px;
    width: 65%;
    box-shadow: 10px 10px 5px rgb(152, 184, 195);
    


}
.secondTable{
    height: 300px;
    width: 30%;
    background-color: bisque;
}

.thrdtable{
    height: 300px;
    width: 30%;
    background-color: red;
}

