@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

#navbar-animmenu {
  background: #042f66;
  float: left;
  overflow: hidden;
  position: relative;
  padding: 10px 0px;
  width: 100%;
}

.main-navbar {
  padding: 0;
  margin: 0;
}

.main-navbar li {
  list-style-type: none;
  float: left;
}

.main-navbar li .navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  line-height: 45px;
  display: block;
  padding: 0px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

.main-navbar .active .navbar-link {
  color: #070707;
  background-color: transparent;
  transition: all 0.7s;
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}
